<div class="page-header">
    <ul class="nav justify-content-end">
        <!-- <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li> -->
        <li class="nav-item">
            <!-- 👇 se tiene que hacer referencia al name de la url que apunta a la vista -->
            <a class="nav-link active" href="{% url 'post_list' %}">Home</a>
        </li>
        <li class="nav-item">
            <!-- 👇 se tiene que hacer referencia al name de la url que apunta a la vista -->
            <a class="nav-link" href="{% url 'about_us' %}">About us</a>
        </li>
        <!-- <li class="nav-item bg">
            <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown">🎅 Filter by: </button>
            <div class="dropdown-menu">
                <a href="{% url 'filter_by_category' %}" class="dropdown-item">Category</a>
                <a href="{% url 'filter_by_category_reverse' %}" class="dropdown-item">Category(reverse)</a>
                <hr class="dropdown-divider">
                <a href="{% url 'filter_by_title' %}" class="dropdown-item">Title</a>
                <a href="{% url 'filter_by_title_reverse' %}" class="dropdown-item">Title(reverse)</a>
                <hr class="dropdown-divider">
                <a href="{% url 'filter_by_created' %}" class="dropdown-item">Created</a>
                <a href="{% url 'filter_by_created_reverse' %}" class="dropdown-item">Created(reverse)</a>
                <hr class="dropdown-divider">
                <a href="{% url 'filter_by_publish' %}" class="dropdown-item">Published</a>
                <a href="{% url 'filter_by_publish_reverse' %}" class="dropdown-item">Published(reverse)</a>
                <hr class="dropdown-divider">
                <a href="{% url 'filter_by_updated' %}" class="dropdown-item">Updated</a>
                <a href="{% url 'filter_by_updated_reverse' %}" class="dropdown-item">Updated(reverse)</a>
                <hr class="dropdown-divider">

                <a href="{% url 'filter_by_number_of_comments' %}" class="dropdown-item">qy Comments</a>
                <hr class="dropdown-divider">
                <a href="{% url 'login' %}" class="dropdown-item">exit</a>
            </div>
            </li> -->
        <li class="nav-item bg">
            <div class="dropdown">
              <!-- <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">🎅 Filter by: </button> -->
              <button type="button" class="btn btn-sm dropdown-toggle btn-dark" data-toggle="dropdown">🎅 Filter by: </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a href="{% url 'filter_by_category' %}" class="dropdown-item">Category</a></li>
                <li><a href="{% url 'filter_by_category_reverse' %}" class="dropdown-item">Category(reverse)</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% url 'filter_by_title' %}" class="dropdown-item">Title</a></li>
                <li><a href="{% url 'filter_by_title_reverse' %}" class="dropdown-item">Title(reverse)</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% url 'filter_by_created' %}" class="dropdown-item">Created</a></li>
                <li><a href="{% url 'filter_by_created_reverse' %}" class="dropdown-item">Created(reverse)</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% url 'filter_by_publish' %}" class="dropdown-item">Published</a></li>
                <li><a href="{% url 'filter_by_publish_reverse' %}" class="dropdown-item">Published(reverse)</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% url 'filter_by_updated' %}" class="dropdown-item">Updated</a></li>
                <li><a href="{% url 'filter_by_updated_reverse' %}" class="dropdown-item">Updated(reverse)</a></li>
                <li><hr class="dropdown-divider"></li>
                <!-- 👇 pending -->
                <li><a href="{% url 'filter_by_number_of_comments' %}" class="dropdown-item">qy Comments</a></li>
                <li><hr class="dropdown-divider"></li>
                <!-- 👇 pending -->
                <li><a href="{% url 'login' %}" class="dropdown-item">exit</a></li>
              </ul>
            </div>
        </li>

        <li class="nav-item">
            <!-- 👇 se tiene que hacer referencia al name de la url que apunta a la vista -->
            <a class="nav-link" href="{% url 'login' %}">Sign in</a>
        </li>

    </ul>
</div>