{% extends './../base.html' %}

{% block content %}

    {% for post in posts %}
        <div class="post">

            <!-- Fecha de publicación -->
            <div class="date">
                {{ post.publish }}
            </div>

            <!-- Título de la publicación -->
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

            <!-- Texto de la publicación -->
            <p>{{ post.text|linebreaksbr }}</p>

            <!-- Cantidad de comentarios de la publicación -->
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
        </div>
    {% endfor %}

{% endblock content %}
