# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

# files
.directory
.gitignore
.github--icon.png
.Apps-Java-icon.png
.django.ico

# folders
.idea/
.vscode/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
# db.sqlite3
# db.sqlite3-journal
media

# Environments
.env
env/
ENV/
env.bak/
env-borrar/
.venv
venv/
venv.bak/

# Miscellaneous
.myAssets
